{
  "presets": [["@babel/preset-env", {
      "targets": {
          "node": true
      }
  }]],
  "env": {
    "test": {
      "presets": ["power-assert", ["env", {"targets":  {"node": "current"}}]]
    }
  }
}
