
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$base-font-color: #A64B00;

$brand-color-primary: #FF7400;
$brand-color-second: #006363;


$primary-font-color: $brand-color-second;

$header-background-color: $brand-color-primary;
$header-font-color: #fff;
$header-height: 85px;

$side-menu-background-color: $brand-color-second;
$side-menu-width: 250px;
$side-menu-small-width: 45px;

$frame-background-color: #FFF6F0;
$frame-border: 1px solid #FFE0CC;

$heading1-height: 50px;
$heading1-font-size: 30pt;
$heading1-font-color: $brand-color-second;

$heading2-height: 50px;
$heading2-background-color: #FFF6F0;
$heading2-font-size: 20pt;
$heading2-font-color: $brand-color-second;
