

$base-font-color: #A64B00;

$brand-color-primary: #FF7400;
$brand-color-second: #006363;


$primary-font-color: $brand-color-second;

$header-background-color: $brand-color-primary;
$header-font-color: #fff;
$header-height: 85px;

$side-menu-background-color: $brand-color-second;
$side-menu-small-width: 45px;

$frame-background-color: #FFF6F0;
$frame-border: 1px solid #FFE0CC;

