// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'imports';
@import "~material-design-icons-iconfont/dist/material-design-icons.css";


.clear-fix::after {
  clear: both;
  content: "";
  display: block;
}


.container {
  min-height: 100vh;
}

main {
  width: calc(100vw - #{$side-menu-width});
  padding-top: $header-height + 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

