html {
  box-sizing: border-box;
  color: $base-font-color;
}

* {
  box-sizing: inherit;
  margin: 0;
  color: inherit;
}

body {
  background-color: $body-background-color;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

a:visited {
  color: $link-visited-color;
}

.text-box {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0, 0.5);
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  background-color: #fff;
}

.text-box:disabled {
  background-color: #f5f5f5;
}

.invalid-feedback {
  color: #f00;
  font-size: 0.8rem;
}

.button {
  background-color: $button-color;
  color: #fff;
  font-weight: bold;
  border: none;
  height: 30px;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  i.icon {
    margin-right: 10px;
  }

}

.button:hover {
  background-color: $button-color-active;
}

.button:active {
  background-color: $button-color-active;
}

.button-lg {
  @extend .button;
  height: 50px;
  padding: 10px 40px;
  width: 180px;
}


.button:disabled {
  background-color: rgba($button-color, 0.4);
  cursor: default;
}

.icon-button {
  display: table-cell;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;

  color: lighten($brand-color-second, 10%);

  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.icon-button:hover {
  color: $brand-color-second;
}


.command-button {
  @extend .button;

  // i.icon {
  //   margin-right: 10px;
  // }
}

.command-button:disabled {
  background-color: grayscale(lighten($brand-color-primary, 10%));
}

.command-button:hover {
  background-color: $brand-color-primary;
  color: rgba(255,255,255, 0.9);
}

.command-button:hover:disabled {
  background-color: grayscale($brand-color-primary);
}

.heading-1 {
  height: $heading1-height;
  font-size: $heading1-font-size;
  font-weight: bold;
  text-decoration: underline;
  color: $heading1-font-color;
  margin-bottom: 40px;
}

.heading-2 {
  background-color: $heading2-background-color;
  border: 1px solid darken($heading2-background-color, 5%);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  height: $heading2-height;
  font-size: $heading2-font-size;
  font-weight: bold;
  color: $heading2-font-color;
  line-height: 2;
  padding-left: 10px;
  margin-bottom: 20px;
}


.list-table {
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;

  th {
    background-color: $table-head-color;
    border: 0;
    padding: 0.3rem;
    border: solid 1px $table-border-color;
    color: $table-font-color;
    font-weight: bold;
  }

  td {
    background-color: $table-background-color;
    border: 0;
    padding: 0.3rem;
  }

}

.small-table {
  border-collapse: separate;
  border-spacing: 2px;
  // border: solid 1px $small-table-border-color;
  width: 100%;

  th {
    background-color: $small-table-header-background-color;
    padding: 5px;
    color: $small-table-header-font-color;
  }

  td {
    background-color: $small-table-background-color;
    border: solid 1px #fff;
    padding: 5px;
    color: $small-table-font-color;
  }
}


.stat-number-box {
  display: table;
  width: 100%;
  height: 100%;
}

.stat-number {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  font-size: 120px;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}


.col-number {
  text-align: right;
}

.col-icons {
  text-align: center;
  vertical-align: middle;
}

.col-checkbox {
  text-align: center;
  vertical-align: middle;
}

.input-width-1 {
  width: 200px;
}

.input-width-2 {
  width: 250px;
}

.input-width-3 {
  width: 300px;
}

.label-width-1 {
  width: 50px;
}

.label-width-2 {
  width: 100px;
}

.label-width-3 {
  width: 150px;
}

.label-width-4 {
  width: 200px;
}
