[client]
socket=/run/mysqld/mysql.sock

[mysqld]

########################################
#システム関連

performance_schema=off
socket=/run/mysqld/mysql.sock

########################################
#文字コード
character_set_filesystem = binary
character_set_server = utf8mb4

########################################
#ログ関連
general_log = OFF
general_log_file = /var/lib/mysql/general.log
slow_query_log = OFF
#slow_query_log_file = /var/lib/mysql/slow.log
#long_query_time = 3
log_error = /var/log/mysql/mysql_error.log


########################################
#InnoDB
innodb_buffer_pool_size = 200M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 20M
innodb_log_file_size = 64M

########################################
#コネクション毎のバッファ
#join_buffer_size = 262144
#read_buffer_size = 131072
#read_rnd_buffer_size = 262144
#sort_buffer_size = 262144
#tmp_table_size = 16777216
